a{
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none;
	color: black;
}


li{
	
	display: inline;
	padding-left: 2%;
	padding-right: 2%;
}

.all {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.b_buyListheader{
	width: 80%;
}

.stepTable{
	width: 100%;
	text-align: center;
	background-color: #d0d0d0;
	border: solid;
}

.stepTable td{
	padding-left: 2%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.choose{
	background-color: #616161;
	font-size: 1.2em;
}

.gold{
	color: #a6a653;
}

.white{
	color: white;
}

.b_buyList_tb{
	border: 1px solid black;
	width: 100%;
	text-align: center;
}

.b_buyList_tb th{
	color: white;
	background-color: #939393;
	height: 30px;
}

.b_buyList_tb td{
	padding-top: 1%;
	padding-bottom: 1%;
}

.red{
	color: red;
}