.alldiv{
	width: 50%;
}

#questionWriterTB{
	margin-top : 1%;
	margin-bottom : 1%;
	width: 100%;
	border: solid;
}

#questionWriterTB th{
	width: 10%;
	background: #cec05b;
	color: white;
}

#questionWriterTB td{
	background: #f3f3f3;
}