
#user_receiveadvertising{
	float: right;
}

#user_termsofuse{
	float: right;
}
#myPageForm_nav_ul li{
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

#questionTb{
	width: 100%;
}


#questionTb th{
	background-color: #4f4fff;
	color: white;
}

#questionTb td{
	text-align: right;
}

.alldiv{
	width: 70%;
}